
/* COLORI
    Fuchsia = #e35590
    Lightblue = #53adc9
*/

/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body{
    font-family: 'Fredoka', sans-serif;
}

.container{
    background-color: white;
    margin: 100px auto;
    width: 80%;
    max-width: 2000px;
}

/* HEADER */
h1{
    font-weight: 600;
    font-size: 5rem;
    margin-bottom: 100px;
    color: #e35590;
    text-align: center;

}

/* MAIN */
/* Parapgraph */
.subtitle{
    font-weight: 400;
    font-size: 3rem;
    margin-bottom: 100px;
    text-align: center;

}

/* Cards */
.card-box{
    width: calc(100% / 3 - 40px);
    background-color: black;
    float: left;
    color: white;
    margin: 20px;

}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.profile-pic{
    float: left;
    max-width: 100%;
} 

.details{
    float: left;
    margin: 20px;
    line-height: 50px;
    /* font-weight: 400; */
}

.profile-name{
    text-align: left;
    font-size: 2rem;
    font-weight: 600;
}

.profession{
    text-align: left;
    font-size: 2rem;
    font-weight: 400;
}

.profile-email{
    text-align: left;
    color: #53adc9;
    font-size: 2rem;
    font-weight: 400;
} 