
/* COLORI
    Fuchsia = #e35590
    Lightblue = #53adc9
*/

/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body{
    font-family: 'Fredoka', sans-serif;
}

.container{
    background-color: yellow;
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

/* HEADER */
h1{
    font-weight: 700;
    font-size: 5rem;
    margin-bottom: 100px;
}

/* MAIN */
/* Parapgraph */
.subtitle{
    font-weight: 400;
    font-size: 3rem;
    margin-bottom: 100px;
}

/* Cards */
